/* $Id: style.css,v 1.4 2010/01/22 14:38:05 rolfmeijer Exp $ */

/**
* Scratch, for Drupal 7.x
* Rolf Meijer, karu.nl
* Scratch is inteded as starting point for new themes.
*
* Install it and make a subtheme – outside the scratch directory – for your own custom theme. See http://drupal.org/node/441088 for more on subtheming.
*/



/**
* ============================== PAGE LAYOUT ==============================
*/

body {
  margin: 0;
  padding: 0;
}
header {
  
}
aside {
  float: left;
}
.sidebar1 {
  
}
.main {
  float: left;
}
.sidebar2 {
  
}
footer {
  clear: left;
}



/**
* ============================== GENERAL ELEMENTS ==============================
*/

h1 {
  
}
h2 {
  
}
h3 {
  
}
p {
  
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
  
}
a:active {
  
}
a img {
  border: 0;
}
tbody {
  border: 0;
}
tr.odd, tr.even {
  background-color: transparent;
  border: 0;
}
th {
  vertical-align: bottom;
  border-bottom: 0;
}

/*
 * If the tabindex is less than zero, there is no use for an outline
 * as you cannot tab it.
 */
*[tabindex="-1"] {
  outline: 0;
}



/**
* ============================== BLOCKS ==============================
*/

.menu {
  
}



/**
* ============================== FIELDS ==============================
*/



/**
* ============================== SPECIFIC PAGES ==============================
*/



/**
* remember values of used colors
* 
* 
*/
